table {
    width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  background-color: #E1DDDD;
  color: #928E8E;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.search-bar{
  width: 36rem;
  padding-right: 5%;
  font-size: larger;
  border: 0px;
}


.dFilter{
  width:15%;
}
